/*-- scss:defaults --*/
$color-code-background: #eeeeee;
$color-code-color: #333333;

/*-- scss:rules --*/
p code:not(.sourceCode) {
    background-color: $color-code-background;
    color: $color-code-color;
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    white-space: nowrap;
}

li code:not(.sourceCode) {
    background-color: $color-code-background;
    color: $color-code-color;
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    white-space: nowrap;
}